@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@700;900&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    color: #272D2D;
}

::-moz-selection { 
    color: #4747D1;
    background: #272D2D;
  }
  
::selection {
    color: #4747D1;
    background: #272D2D;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #272D2D; 
}
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4747D1; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1a8fe3; 
  }

body {
    margin-top: 0;
    color: #272D2D;
    font-size: 17px;
    font-family: sans-serif;
}

.bg {
   width: 80%;
   margin-left: 10%;
   background-color: white;
   filter: blur(8px) grayscale(7%);
   -webkit-filter: blur(8px) grayscale(7%);
}

.unblur {
    filter: none !important;
    -webkit-filter: none !important;
}

.navbar {
    background-color: white;
    height: 60px;
    width: 100%;
}

.navbar-logo {
    height: 80px;
    display: inline-block;
}

.nav-items {
    display: inline-block;
    height: Calc(100% - 15px);
    vertical-align: top;
    padding-top: 15px;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    transition: all 0.5s;
    margin: 0;
    font-size: 20px;
    font-family: 'Martel Sans', sans-serif;
    font-weight: 700;
}

.ar-down {
    font-size: 18px;
    transition: all 0.5s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: -15px;
  transition: all 0.5s;
}

.dropdown-content a {
  color: #272D2D;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: all 0.5s;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.drop:hover .dropdown-content {
    display: block;
}

.nav-items-1 {
    display: inline-block;
    height: Calc(100% - 15px);
    vertical-align: top;
    padding-top: 15px;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    transition: all 0.5s;
    margin: 0;
    font-size: 20px;
    font-family: 'Martel Sans', sans-serif;
    font-weight: 700;
}

.nav-items-1:hover {
    color: white;
    background-color: #4747D1;
}

.nav-items:hover {
    color: white;
    background-color: #272D2D;
}

.nav-items:hover .ar-down{
    color: white;
}

.m-nav-btn {
    width: 40px;
    height: 100%;
    margin-right: 0;
    margin-left: auto;
    display: none;
    cursor: pointer;
}

#bar1 {
    margin-top: 20px !important;
    height: 4px;
    width: 30px;
    border-radius: 2px;
    background-color: #4747D1 !important;
    transition: all 0.5s;
}

.bar {
    margin-top: 5px;
    height: 4px;
    width: 30px;
    border-radius: 2px;
    background-color: #272D2D;
    transition: all 0.5s;
}

.change #bar1 {
    transform: rotate(-45deg) translate(-5px, 0px);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: rotate(45deg) translate(-11px, -8px);
}

.short {
    width: 100%;
    background-color: #272D2D;
    color: White;
    text-align: center;
    font-size: 35px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family:'Arial Narrow Bold', sans-serif;
    line-height: 40px;
}

.short p {
    font-size: 17px;
    color: white;
}

.logo-letters {
    font-family: 'Martel Sans', sans-serif;
    font-weight: 700;
    color: white;
    font-weight: 900;
}

.highlight {
    font-size: 40px;
    font-weight: bold;
    color: #1a8fe3;
}

.why {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(205,205,205,1) 100%); 
}

.intrest {
    color: #4747D1;
}

.answer {
    width: 75%;
    margin-left: 15%;
    font-size: 25px;
}

.clients-speak {
    height: 500px;
    width: 100%;
    background-color: #FFFFFF;
    color: #272D2D;
}

.client-heading {
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
    width: 100%;
    height: 60px;
    color: #272D2D;
}

.client {
    height: Calc(100% - 150px);
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.client-img {
    display: block;
    width: 25%;
    height: 80%;
    margin-right: 0;
    display: inline-block;
}

.client-img-container {
    height: 200px;
    width: 200px;
    margin-left: 50%;
    background-color: #4747D1;
    border-radius: 50%;
    margin-top: 50%;
    transform: translate( -50%, -65%);
}

#cimg1 {
    background: url("../Images/Tata_Steel.png");
}

#cimg2 {
    background: url("../Images/Bharat_Heavy_Electricals_Limited-Logo.wine.png");
    background-size: 200px 200px;
}

#cimg3 {
    background: url("../Images/375px-Bharat_Electronics_logo.svg.png");
    background-size: 200px auto;
    background-repeat: no-repeat;
    background-position: center;
}

#cimg4 {
    background: url("../Images/eent-logo.png");
    background-size: 180px auto;
    background-repeat: no-repeat;
    background-position: center;
}

#cimg5 {
    background: url("../Images/Micon_logo1[1657].png");
    background-size: 200px auto;
    background-repeat: no-repeat;
    background-position: center;
}

#cimg6 {
    background: url("../Images/kelviron.png");
    background-size: 200px auto;
    background-repeat: no-repeat;
    background-position: center;
}

.inquire {
    padding-left: 12px;
    padding-right: 12px;
    top: 50vh;
    position: fixed;
    transform: rotate(-90deg);
    background-color: #4747D1;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 20px;
    margin-left: -18px;
    line-height: 40px;
}

.inquire:hover {
    box-shadow: 0px 0px 5px #272D2D;
    transition: all 0.3s linear;
}

.inq-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #272D2D;
    overflow: hidden;
    display: none;
}

.inq-disp {
    display: block;
}

.inquire-header {
    font-size: 40px;
    text-align: center;
    font-family: 'Martel Sans', sans-serif;
    width: 100%;
    border-bottom: 2px solid #4747D1;
    color: white;
    background-color: #272D2D;
}

.close {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 20px;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 22px;
    color: #4747D1;
    transition: all 1s;
}

.close:hover {
    color: white;
}

.inq-form form {
    width: 100%;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
}

#name {
    border: none;
    border-bottom: 2px solid #ccc;
    padding-bottom: 3px;
    font-size: 20px;
    width: 60%;
    margin-left: 20%;
    margin-top: 15px;
    transition: all 0.3s;
    display: block;
}

#name:focus {
    border-bottom: 2px solid #4747D1;
}

#email {
    border: none;
    border-bottom: 2px solid #ccc;
    padding-bottom: 3px;
    width: 60%;
    margin-left: 20%;
    font-size: 20px;
    transition: all 0.3s;
    display: block;
}

#email:focus {
    border-bottom: 2px solid #242D2D;
}

#tel {
    border: none;
    border-bottom: 2px solid #ccc;
    padding-bottom: 3px;
    width: 60%;
    margin-left: 20%;
    font-size: 20px;
    transition: all 0.3s;
    display: block;
    font-family: sans-serif;
}

#tel:focus {
    border-bottom: 2px solid #242D2D;
}

#text-ans {
    border: 2px solid #ccc;
    padding: 5px;
    width: 60%;
    margin-left: 20%;
    font-size: 20px;
    display: block;
    font-size: 20px;
    resize: none;
    border-radius: 10px;
}

#text-ans:focus {
    border: 2px solid #242D2D;
}

textarea:placeholder {
    font-family: 'Source Sans Pro', sans-serif;
}

textarea::-moz-placeholder {
    opacity: 0.5;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

.submit-btn {
    margin-left: 50%;
    transform: translate( -50%, 0);
    margin-top: 10px;
    background-color: #1a8fe3;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.submit-btn:active {
    background-color: #4747D1;
}

.loader {
    border: 16px solid #242727;
    border-top: 16px solid #4747D1;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50vh;
    left: 50%;

}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

.brlur {
    width: 100%;
    height: 100vh;
    background-color: #272D2D;
    opacity: 0.7;
    position: fixed;
    top: 0;
    left: 0;
}

.unloader {
    display: none;
}

.social-right {
    top: 50vh;
    position: fixed;
    right: 0;
    transform: translate(0, -50%);
}

.hanging-social {
    height: 40px;
    width: 40px;
    margin-top: 5px;
    cursor: pointer;
    transition: all 0.7s;
}

.hanging-social:hover {
    box-shadow: 0px 0px 5px #272D2D;
}

.linkedin-icon {
    background-color: #007bb5;
    text-align: center;
}

.fa-linkedin {
    font-size: 30px !important;
    color: white;
    margin-top: 5px;
}

.facebook-icon {
    background-color: #3d5a98;
}

.fa-facebook {
    font-size: 30px !important;
    color: white;
    margin-top: 12px;
    margin-left: 15px;
}

.instagram-icon {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    text-align: center;
}

.fa-instagram {
    font-size: 30px !important;
    color: white;
    margin-top: 5px;
}

.twitter-icon {
    background-color: #55acee;
    text-align: center;
}

.fa-twitter {
    font-size: 30px !important;
    color: white;
    margin-top: 5px;
}

.to-top {
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 10px;
    right: 10px;
    background-color: #272D2D;
    border-radius: 5px;
    color: white;
    overflow: hidden;
    display: none;
}

.fi {
    position: relative;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4747D1;
    border: none;
    border-radius: 5px;
    z-index: 1;
    cursor: pointer;
}

.fi::before {
    content: "";
    position: absolute;
    background: #272D2D;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top 0.3s ease-in;
}

.fi:hover::before {
    top: 0;
  }

.to-top:hover {
    box-shadow: 0px 0px 3px #272D2D;
}

.footer {
    height: 400px;
    background-color: #272D2D;
    width: 100%;
    background-image: linear-gradient(45deg, #4747d1 25%, #1a8fe3 25%, #1a8fe3 50%, #4747d1 50%, #4747d1 75%, #1a8fe3 75%, #1a8fe3 100%);
    background-size: 56.57px 56.57px;
    filter: blur(8px) grayscale(7%);
    -webkit-filter: blur(8px) grayscale(7%);
}

.footer-container, .upper {
    background: #272D2D;
    height: 400px;
    width: 98%;
    margin-left: 1%;
    color: whitesmoke;
    overflow: hidden;
}

.upper {
    display: flex;
    height: 80%;
    width: 100%;
}

.quick-links {
    display: block;
    height: 80%;
    margin-left: 5%;
    margin-top: 20px;
    width: 25%;
}

.quick-links-header {
    color: whitesmoke;
    font-family: 'Martel Sans', sans-serif;
    font-size: 25px;
}

.quick-list a{
    text-decoration: none;
    color: white;
}

.quick-links ul {
    list-style-type: none;
    margin-left: 30px;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 35px;
}

.interest-2 {
    color: #1a8fe3;
}

.contact-details, .product-links {
    display: block;
    height: 80%;
    margin-top: 20px;
    margin-left: 10%;
    width: 20%;
}

.fa-envelope-o, .fa-phone {
    color: white;
    height: 22px;
}

.contact-inner {
    margin-left: 30px;
}

.contact-inner a{
    text-decoration: none;
    color: white;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}

.ph {
    color: white;
    font-size: 15px;
}

.contact-heads {
    font-size: 22px;
    color: white;
    font-weight: 400;
    width: 100%;
}

.product-links {
    margin-left: 15%;
}

.link-container a {
    color: white;
    text-decoration: none;
    line-height: 35px;
    margin-left: 30px;
}

.copyright-info {
    color: white;
    padding-left: 7%;
    margin-top: 2%;
    padding-top: 10px;
    border-top: 3px solid #4747D1;
    background-color: #3737a1;
    height: 18%;
}

.copyright-info a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1200px) {
    .bg {
        width: 100%;
        margin: 0;
    }
    
    .navbar {
        z-index: 100;
        position: fixed;
    }

    .nav-items {
        font-size: 17px;
    }

    .nav-items-1 {
        font-size: 17px;
    }

    .short {
        padding-top: 65px;
    }

    .answer {
        width: 80%;
        margin-left: 10%;
        font-size: 17px;
    }

    .social-right {
        z-index: 99;
    }

    .footer {
        width: 100%;
        margin: 0;
    }

    .quick-links-header {
        font-size: 20px;
    }

    .contact-heads {
        font-size: 18px;
    }

    .ph {
        font-size: 12px;
    }
}

@media screen and (max-width: 630px) {
    .bg {
        width: 100%;
        margin: 0;
    }
    
    .m-nav-btn {
        display: block;
    }

    .navbar {
        position: fixed;
        z-index: 101;
        display: flex;
    }

    .navbar-logo {
        display: block;
    }

    .nav-items, .nav-items-1, .to-top, .ss-btn {
        display: none;
    }

    .short {
        padding-top: 65px;
        font-size: 25px;
    }

    .logo-letters {
        font-size: 25px;
    }

    .short p {
        font-size: 15px;
    }

    .highlight {
        font-size: 27px;
    }
    
    .answer {
        width: 80%;
        margin-left: 10%;
        font-size: 17px;
    }

    .client-heading {
        font-size: 30px;
    }

    .clients-speak {
        height: auto;
    }

    .client {
        width: 100%;
        height: 250px;
        display:contents;
    }

    .client-img {
        width: 150px;
    }

    .client-img-container {
        height: 100px;
        width: 100px;
    }

    #cimg1 {
        background-size: 100px auto;
        background-repeat: no-repeat;
        background-position: center;
    }

    #cimg2 {
        background-size: 100px auto;
        background-repeat: no-repeat;
        background-position: center;
    }

    #cimg3 {
        background-size: 100px auto;
        background-repeat: no-repeat;
        background-position: center;
    }

    #cimg4 {
        background-size: 90px auto;
        background-repeat: no-repeat;
        background-position: center;
    }

    #cimg5 {
        background-size: 100px auto;
        background-repeat: no-repeat;
        background-position: center;
    }

    #cimg6 {
        background-size: 100px auto;
        background-repeat: no-repeat;
        background-position: center;
    }

    .inquire {
        font-size: 15px;
        margin-left: -15px;
        line-height: auto;
    }

    .inq-form {
        width: 90% !important;
        z-index: 100;
    }

    .hanging-social {
        height: 30px;
        width: 30px;
    }

    .fa-facebook {
        font-size: 20px !important;
        margin-top: 11px;
    }

    .fa-linkedin {
        font-size: 20px !important;
    }

    .fa-twitter{
        font-size: 20px !important;
    }

    .fa-instagram{
        font-size: 20px !important;
    }

    .footer {
        width: 100%;
        margin: 0;
        height: auto;
    }

    .footer-container {
        height: auto;
    }

    .upper {
        display: block;
        height: auto;
    }

    .quick-links {
        height: auto;
        width: 100%;
    }

    .contact-details, .product-links {
        display: block;
        height: auto;
        width: 100%;
        margin-left: 5%;
    }

    .quick-links-header {
        font-size: 20px;
    }

    .contact-heads {
        font-size: 18px;
    }

    .product-links {
        margin-left: 5%;
    }

    .ph {
        font-size: 12px;
    }

    .copyright-info {
        font-size: 12px;
    }
}

@media screen and (max-width: 850px) {
    .inq-form {
        width: 70%;
    }
}