@import url("https://fonts.googleapis.com/css2?family=Inter&family=Plus+Jakarta+Sans:wght@200&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


.body {
  padding-bottom: 4rem;
}


img {
  opacity: 1;
  transition: opacity 1s;
}

img[data-src] {
  opacity: 0;
}

/* navbar */
nav {
  width: 100%;
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.nav-inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  width: 80%;
  border-radius: 10px;
  backdrop-filter: blur(12.5px);
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(158, 158, 158, 0.25);
}

.nav-items {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.nav-items span a {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  text-decoration: none;
}

.navText {
  text-decoration: none;
  color: #000000;
}


.staticFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  z-index: 10;

}

.staticText {
  text-align: center;
  padding: 1rem;
  color: #CB0000;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;

}

.applyBtn {
  cursor: pointer;
  font-weight: 600;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: #CB0000;
  border-bottom: 2px solid #CB0000;
  background: transparent;

}

.applyText {
  color: #CB0000;
  text-decoration: none;
}

.vWebLogin {
  text-decoration: underline !important;
}

.hamburger {
  width: 1.5rem;
  display: none;
  background-color: transparent;
  border: none;
}

.mobmenu {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.4);
  z-index: 1000;
  padding: 5vh 0 35vh 0;
  display: none;
}


.closeButtonRow {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 15%;
}

.closeButton {
  border: none;
  background-color: transparent;
}

.closeButton img {
  width: 1.5rem;
}

.mobmenu span {
  width: 100%;
  text-align: right;
  padding: 0 20% 0 0;
  opacity: 0;
  /* Start with 0 opacity */
  transform: translateY(20px);
  /* Start position */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.mobmenu.show span {
  opacity: 1;
  /* End with full opacity when the menu is shown */
  transform: translateY(0);
  /* End position when the menu is shown */
}

.mobmenu span a {
  color: #000000;
  font-family: "Roboto";
  font-size: 20px;
  text-decoration: none;
}

.banner {
  padding: 7rem 5% 0px 5%;
  color: #0a0a28;
  font-family: "Roboto";
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.Title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.aboutText {
  color: #0a0a28;
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  border-right: 0.1rem solid black;
  padding: 0rem 1rem;
  text-align: center;
}

.dctText {
  text-align: center;
}

.head {
  color: #0a0a28;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.normal {
  font-weight: 400;
  color: #0a0a28;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
}

.moto {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text {
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 142.202%;
}

.container-1 {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  gap: 3.5rem;
  padding: 2rem 0;
}

.backedText {
  color: #0a0a28;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 5%;
}

.brand-support {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  width: 100%;
}

.backing {
  width: 200px;
}

@keyframes marqueeAnimation {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.clientSection {
  padding: 2rem 0;
  display: inline;
  gap: 1rem;
}

.sectionHead {
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 200;
}

.marqueeContainer {
    overflow: hidden;
  position: relative;
  width: 100%;
  padding: 2rem 0;
}

.clientImgWrapper {
  display: flex;
  gap: 4rem;
  animation: marqueeAnimation 20s linear infinite;
  width: max-content;
  content: '';
}

.clientImgWrapper::after {
  content: '';
  display: flex;
  gap: 4rem;
}

.clientImg {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  object-fit: contain;
}

.client {
  height: 3rem;
}

.directorSection {
  padding: 2rem 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.personInfoWrapper {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.personInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.personImg {
  height: 10rem;
}

.photoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
}

.personName {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
}

.personRole {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
}

.mentorSection {
  padding: 2rem 5%;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.container-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  align-self: stretch;
  padding: 10vh 5%;
}

.container-5-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.container-5-title {
  color: #0a0a28;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.container-5-subtitle {
  color: #5e5e5e;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  text-transform: capitalize;
}

.button {
  display: flex;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-transform: capitalize;
  border-radius: 0.625rem;
  background: #4747d1;
  cursor: pointer;
}

/* footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background-color: #e8e8e8;
}

.footer-top {
  display: flex;
  padding: 1.25rem 5%;
  align-items: center;
  gap: 4.6875rem;
  width: 100%;
}

.follow-text {
  color: #000;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer-social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.social-icon {
  height: 2rem;
}

.footer-mid {
  display: flex;
  padding: 1.25rem 5%;
  align-items: flex-start;
  align-self: stretch;
  justify-content: space-between;
}

.footer-mid-right-section {
  display: flex;
  gap: 2rem;
}

.footer-mid-header {
  color: #404040;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.detail-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer-s2-detailtext {
  color: #404040;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.275rem;
}

.footer-qlink {
  color: #404040;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
}

.footer-low {
  display: flex;
  padding: 1.25rem 10%;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.low-p1 {
  color: #000;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.low-p2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2.5625rem;
  color: #000;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
}

.scrollUpBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: fixed;
  left: 50%;
  bottom: 70px;
  transform: translate(-50%, 0);
  z-index: 5;
}

/* Media Query for Responsiveness */

@media only screen and (max-width: 768px) {
  .nav-inner {
    justify-content: space-between;
    padding: 0 5%;
  }

  .logoimg {
    width: 120px;
  }

  .nav-items {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .hamburger img {
    width: 30px;
  }

  .Title {
    flex-direction: column;
    gap: 0.2rem;
  }

  .aboutText {
    border: none;
    font-size: 2rem;
  }

  .head,
  .normal {
    font-size: 1rem;
  }

  .moto {
    font-size: 1.5rem;
  }

  .text {
    font-size: 1rem;
  }

  .container-1 {
    gap: 1rem;
  }

  .backing {
    width: auto;
    height: 1.5rem;
  }

  .sectionHead {
    font-size: 1.5rem;
  }

  .personInfoWrapper {
    flex-wrap: wrap;
    gap: 2rem;
  }

  .photoWrapper {
    width: 5rem;
    height: 5rem;
  }

  .personImg {
    height: 5rem;
  }

  .personName {
    font-size: 1rem;
  }

  .personRole {
    font-size: 0.75rem;
  }

  .container-5 {
    flex-direction: column;
    gap: 1rem;
  }

  .container-5-title {
    font-size: 1.5rem;
  }

  .container-5-subtitle {
    font-size: 1rem;
  }

  .footer-top {
    flex-direction: column;
    gap: 1rem;
  }

  .footer-mid {
    flex-direction: column;
    gap: 2rem;
  }

  .footer-low {
    gap: 1rem;
  }

  .low-p1 {
    font-size: .75rem;
  }

  .low-p2 {
    font-size: .75rem;
  }

  .scrollUpBtn {
    bottom: 10vh;
  }

  .staticText {
    font-size: 1.2rem;
  }

  .applyBtn {
    font-size: 1.2rem;
  }
}