* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

img {
  opacity: 1;
  transition: opacity 1s;
}

img[data-src] {
  opacity: 0;
}

/* navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  width: 80%;
  margin-left: 10%;
  margin-top: 5px;
  border-radius: 10px;
  position: fixed;
  z-index: 1000;
  overflow: hidden;
  backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 20px 20px rgba(158, 158, 158, 0.25);
  border: 1px solid rgba(158, 158, 158, 0.25);
}

.logo {
  padding-left: 10%;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.nav-items span a {
  color: #000000;
  font-family: "Roboto";
  font-size: 20px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #000000;
}

.hamburger {
  width: 30px;
  display: none;
  background-color: transparent;
  border: none;
}

.mobmenu {
  width: 80%;
  position: fixed;
  left: 10%;
  top: 100px;
  background-color: #fff;
  flex-direction: column;
  box-shadow: rgb(139, 139, 139) 0px 5px 10px 1px;
  z-index: 1000;
  border-radius: 10px;
  padding: 5px 0 5px 0;
  display: none;
}

.mobmenu span {
  width: 100%;
  text-align: center;
  padding: 3px;
}

.mobmenu span a {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  text-decoration: none;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.banner {
  padding: 125px 10% 0px 10%;
  /*background-color: #A8DADC;*/
  color: #0a0a28;
  font-family: "Roboto";
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.headSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.aboutText {
  color: #0a0a28;
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-right: 0.1rem solid black;
  padding: 0rem 1rem;
  text-align: center;
}

.dctText {
  text-align: center;
}

.head {
  color: #0a0a28;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.normal {
  font-weight: 400;
  color: #0a0a28;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
}

.moto {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text {
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 142.202%; /* 3.19956rem */
}

.container-1 {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 80%;
  gap: 3.5rem;
}

.backedText {
  color: #0a0a28;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.brand-support {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6rem;
  width: 100%;
}

.backing {
  width: 200px;
}

@keyframes marqueeAnimation {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.clientSection {
  display: inline;
  white-space: nowrap;
  gap: 1rem;
  position: relative;
  overflow: hidden;
}

.clientImgWrapper {
  display: inline-flex;
  gap: 2rem;
  animation: marqueeAnimation 20s linear infinite;
}

.clientImg {
  display: inline-flex;
  align-items: center;
}

.directorSection {
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  gap: 1rem;
}

.sectionHead {
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.personInfoWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.personInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
}

.personName {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.personRole {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.mentorSection {
  display: flex;
  align-self: center;
  width: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.joinSection {
  display: flex;
  align-self: center;
  width: 80%;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.joinTextWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3rem;
}

.joinTextrow1 {
  color: #0a0a28;
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: capitalize;
}

.joinTextrow2 {
  color: #000;
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.joinBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1rem;
  border-radius: 0.625rem;
  background: #4747d1;
  border: none;
  outline: none;
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  cursor: pointer;
}

/* footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background-color: #e8e8e8;
}

.footer-top {
  display: flex;
  padding: 1.25rem 6.25rem;
  align-items: center;
  gap: 4.6875rem;
  align-self: stretch;
}

.follow-text {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer-social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.social-icon {
  height: 2rem;
}

.footer-mid {
  display: flex;
  padding: 1.25rem 6.25rem;
  align-items: flex-start;
  align-self: stretch;
  justify-content: space-between;
}

.footer-mid-right-section {
  display: flex;
  gap: 2rem;
  font-family: "Inter", sans-serif;
}

.footer-mid-header {
  color: #404040;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.detail-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer-s2-detailtext {
  color: #404040;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.275rem;
  /* 150% */
}

.footer-qlink {
  color: #404040;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
}

.footer-low {
  display: flex;
  padding: 1.25rem 9.375rem;
  justify-content: space-between;
  align-items: center;
  gap: 5.5625rem;
  align-self: stretch;
}

.low-p1 {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.low-p2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2.5625rem;
  align-self: stretch;
}

.low-p3 {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.low-p4 {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.low-p5 {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btt {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: fixed;
  left: 50%;
  bottom: 30px;
  transform: translate(-50%, 0);
  display: none;
}

.chat {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: fixed;
  right: 30px;
  bottom: 30px;
}

/* Media Query for Responsiveness */

@media only screen and (max-width: 769px) {
  .pageWrapper {
    padding: 1rem;
  }


  .nav-items {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .hamburger img {
    width: 30px;
  }
  .banner {
    padding: 125px 0px 0px 0px;
  }
  .headSection {
    flex-direction: column;
  }

  .aboutText {
    border-right: none;
    padding: 0rem;
    font-size: 2.5rem;
  }

  .head, .normal{
    font-size: 1.5rem;
  }

  .text {
    font-size: 1.2rem;
  }

  .container-1 {
    width: 100%;
  }

  .brand-support {
    gap: 3rem;
  }

  .sectionHead{
    font-size: 1.5rem;
  }

  .directorSection,
  .joinSection,
  .mentorSection {
    width: 100%;
    font-size: 1.5rem;
  }

  .joinSection {
    flex-direction: column;
    gap: 2rem;
  }

  .personName, .personRole{
    font-size: 0.9rem;
  }

  .joinTextrow1{
    font-size: 1.7rem;
  }

  .joinTextrow2{
    font-size: 1rem;
  }

  .footer-top {
    flex-direction: column;
    gap: 2vh;
    align-self: center;
  }

  .footer-social-icons {
    gap: 10px;
  }

  .footer-mid {
    flex-direction: column;
    gap: 3vh;
    padding: 1.5rem;
  }

  .footer-mid-right-section {
    flex-direction: column;
    grid-area: 3vh;
  }

  .footer-low {
    flex-direction: column;
    padding: 1rem 2rem;
    gap: 2rem;
  }
}
