body {
    margin-left: 10%;
    margin-top: 0;
    width: 80%;
    color: #272D2D;
    font-size: 17px;
}

.navbar {
    background-color: transparent;
    height: 50px;
    width: 100%;
}

.navbar-logo {
    height: 60px;
    display: inline-block;
}

.nav-items {
    display: inline-block;
    height: Calc(100% - 15px);
    vertical-align: top;
    padding-top: 15px;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    transition: all 0.5s;
    margin: 0;
}

.nav-items:hover {
    color: white;
    background-color: #4747D1;
}

.slideshow {
    height: 500px;
}

.slide {
    transition: all 0.3s;
    display: none;
    width: 0px;
    background-color: gainsboro;
    height: 100%;
}

.vis {
    display: block;
    width: 100%;
}