# dependencies
node_modules
.npm
.pnp
.lock

# build output
build
dist
out
public/bundle.js

# logs and temp files
logs
*.log
*.pid
*.swp
.DS_Store
.tmp
.cache
*.tmp
*.temp

# IDE files
.vscode
.idea
*.code-workspace
.vs

# others
*.env.local
.env.local
.env.*.local
.env
.cache
coverage
*.orig
*.bak
