Options +FollowSymlinks
RewriteEngine on
DirectoryIndex home.html
Redirect 301 /home.html https://dicot.tech/
Redirect 301 /contact.html https://dicot.tech/contact
Redirect 301 /coming.html https://dicot.tech/coming
Redirect 301 /about.html https://dicot.tech/about
Redirect 301 /VisionC.html https://dicot.tech/VisionC
Redirect 301 /VGraphic.html https://dicot.tech/VGraphic